body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing:border-box;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px !important;
  margin-bottom: 0px;
  color: #2e8b57;
  word-spacing: 20px;
}

h2 {
  // background-color: #2e8b57;
  padding: 15px;
  margin-top: 0px;
  text-align: center;
  color: #032F27;
  margin-left: -2px;
}

header{
  z-index: 1;
  position: fixed;
  background-color: #1b5836;
  padding: 20px;
  width: calc(100% - 0%) ;
  top: 0;
  height: 70px;
}

.left-area h3{
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight:bolder;
}

.left-area span{
  color: #1DC4E7;
}

.logout-btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transform: 0.5s;
  transition-property: background;
}

.logout-btn:hover{
  background: #0D9DBB;
}

.sidebar{
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 70px;
  padding-top:20px;
  z-index: 1;
  background: #9aba97;
  height:calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;

}

.profile-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile-info .profile-img{
width: 100px;
height: 100px;
border-radius: 50px;
margin-bottom: 0px;
}

.sidebar .profile-info h4{
  color:#033E20;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}

.sidebar .menu{
  margin-bottom:50px;
  margin-top:20px;
}
.sidebar a{
  color: #000000;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #1b5836;
  color:#ffffff;
}

.sidebar i{
  padding-right: 10px;
  color: #3b3b3b;
  font-size: 20px;
}

label #sidebar-btn{
z-index: 1;
color: #ffffff;
position: fixed;
cursor: pointer;
left: 330px;
font-size: 20px;
margin: 5px 0;
transition:0.5s;
transition-property: color; 
}

label #sidebar-btn:hover{
  color: #19B3D3;
}

// #check:checked ~.sidebar{
//   left:-185px;
// }

// #check:checked ~.sidebar a span{
//   display: none;
// }

// #check:checked ~.sidebar a{
//   font-size: 20px;
//   margin-left: 155px;
//   width: 100%;
// }

.content{
  // width: 100%;
  min-height: 100vh;
  color:#000;
  box-sizing:border-box;
  padding-left:250px;
  padding-top:90px;
  background-image: url("../assets/background_image_v2\ copy.png");
  background-position: center;
  background-size: cover;
  border:2px solid #E9E8E8;
}

.content-abt h5{
  margin:0px 50px 0px 50px;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile-info{
  display: none;
}

#check{
  display: none;
}
.mobile-nav{
  display:none;
}

#check-mobile{
  display: none;
}

.content .card .content-abt p{
  width: 80%;
  font-size: 17px;
  margin: 20px auto;
  padding:15px;
  line-height: 2;
  color:#000000;
  padding-bottom:20px;
  background: #ffffff;
  word-wrap: break-word;
  text-align: justify;
  opacity:0.8;
  border-radius:5px;
}

table{
  border-collapse: collapse;
}
table th{
  text-align: center;
  font-weight: bolder !important;
}